@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-white text-slate-900 antialiased;
}

input, select, textarea {
  @apply rounded-md border border-slate-300 px-3 py-2 text-sm outline-none ring-0 focus:border-forest;
}

button:focus-visible,
a:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  @apply outline-none ring-2 ring-saffron ring-offset-2;
}
